:root {
 —space: 1.5em 0;
 —space: 2em 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  .App {
    position: relative;
    flex: 1 0 auto;
    padding: var( — space) var( — space) 0;
    width: 100%;

    .logo-title {
      .app-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 60px;
      }

      .title {
        vertical-align: middle;
        display: inline-block;
        font-size: 30px;
      }
    }

    .custom-navbar {
      text-align: right;
      padding-top: 6px;

      .custom-nav-link {
        line-height: 3em;
        color: white;
        font-size: 1em;
        margin: 15px;
        text-decoration: none;

        &:hover {
          color: red;
        }
      }

      &:after {
        content: ‘\00a0’;
        display: block;
        margin-top: var( — space);
        height: 0;
        visibility: hidden;
      }
    }

    .App-header {
      position: relative;
      background-color: #252830;
      min-height: 50px;
      max-height: 120px;
      padding: 20px;
      color: white;
      margin: auto;
    }

    .App-title {
      font-size: 1.5em;
    }

    .App-intro {
      font-size: large;
    }

    .main-content {
      max-width: 1200px;
      margin: 50px auto;
    }
  }
}


