.blog-feed {

  .circle-posts-container {
    margin-top: 50px;

    .circle-image-container {
      display: inline-block;
      position: relative;

      .arrow {
        position: absolute;
        top: 85px;
        width: 80px;
        height: 80px;
        color: #cdd1d3;
        cursor: pointer;

        &:hover {
            color: #24a385;
        }

        &.lft {
            left: -136px
        }

        &.rt {
            right: -136px
        }
      }

      .circle-container {
        width: 220px;
        height: 220px;
        display: inline-block;
        margin: 0 30px 80px;
        border-radius: 130px;
        position: relative;
        cursor: pointer;

        .circle-post {
            border-radius: 130px;
            width: 220px;
            height: 220px;
        }

        .title {
            font-size: 14px;
            position: absolute;
            left: 120px;
            top: -66px;
        }
        .title-char {
            font: 26px Inconsolata, MonoSpace;
            height: 165px;
            position: absolute;
            width: 20px;
            left: 0;
            top: 0;
            transform-origin: bottom center;
        }
      }
    }
  }

  .post-preview {

    .post-image {
      max-height: 400px;
      width: 90%;
      margin: 10px auto;
      display: block;
      cursor: pointer;
    }

    .post-link {
      font-size: 24px;
      text-decoration: none;
      color: black;
      display: block;
      text-align: center;
    }
  }
}