.blog-feed {

  .post-preview {

    .post-image {
      max-height: 400px;
      width: 90%;
      margin: 10px auto;
      display: block;
      cursor: pointer;
    }

    .post-link {
      font-size: 24px;
      text-decoration: none;
      color: black;
      display: block;
      text-align: center;
    }
  }
}